* {
  padding: 0;
  margin: 0 auto;
  box-sizing: border-box;
  font-family: Shantell Sans, Arial, Helvetica, sans-serif;
}

body {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header {
  color: #007bff;
  text-align: center;
  font-size: 36px;
  margin: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
  margin-bottom: 5%;
}

form {
  width: 400px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 10px 4px 10px 4px blue;
  border-radius: 20px;
  position: relative;
  top: 20%;
}

#username,
#password {
  outline: 0;
  border: 1px solid;
  width: 200px;
  padding: 5px;
  border-radius: 10px;
  margin-bottom: 15px;
}

form label {
  font-weight: 500;
  padding: 10px;
  margin-bottom: 5px;
}

.box-visible {
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
  right: 10%;
}

.box-visible input {
  position: relative;
  left: 25%;
}

#submit {
  border-radius: 5px;
  width: fit-content;
  margin-top: 10px;
  margin-bottom: 10px;
}
